---
import { Image } from "@astrojs/image/components";
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"blog">;
  featured?: boolean;
}

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
const { post, featured } = Astro.props;
const { tags } = post.data;
---

<li class={`post ${featured ? "mb-12 list-none" : ""}`}>
  <div class="post-tags">
    {
      tags &&
        tags?.map((tag) => (
          <a class="tag" href={`/tags/${tag}`}>
            {tag}
          </a>
        ))
    }
  </div>
  <a class="text-app-white" aria-label={post.data.title} href={`/${post.slug}`}>
    <Image
      format="avif"
      width={featured ? 900 : 750}
      aspectRatio={16 / 9}
      src={import(`../assets/posts/${post.data.heroImage}.png`)}
      alt={post.data.imageDescription}
      class="skeleton"
      fit="cover"
    />
    <h2 class="mt-2">
      {post.data.title}
    </h2>
    <date class="flex-1 font-playfair text-sm block mt-3 mb-1"
      >{new Date(post.data.pubDate).toLocaleDateString("en-US", dateOptions)}
    </date>
    <p class="text-lg">{post.data.description}</p>
  </a>
</li>

<style>
  .post-tags {
    @apply flex text-sm font-sans gap-2 justify-end;
  }

  .post-tags a.tag {
    @apply bg-app-blue text-app-black px-1 pt-1 rounded-t-sm;
  }
</style>
